openapi: 3.0.1
info:
  title: Bungie.Net API
  description:
    These endpoints constitute the functionality exposed by Bungie.net,
    both for more traditional website functionality and for connectivity to Bungie
    video games and their related functionality.
  termsOfService: https://www.bungie.net/en/View/Bungie/terms
  contact:
    name: Bungie.net API Support
    url: https://github.com/Bungie-net/api
    email: support@bungie.com
  license:
    name: BSD License 2.0
    url: https://github.com/Bungie-net/api/blob/master/LICENSE
  version: 2.10.0
servers:
  - url: https://bungie.com/Platform

components:
  parameters:
    componentParam:
      name: component
      in: query
      description: A comma separated list of components to return (as strings or
        numeric values). See the DestinyComponentType enum for valid components
        to request. You must request at least one component to receive results.
      style: form
      explode: false
      schema:
        type: array
        items:
          type: integer
          description: 'Represents the possible components that can be returned
            from Destiny "Get" calls such as GetProfile, GetCharacter, GetVendor
            etc...When making one of these requests, you will pass one or
            more of these components as a comma separated list in the "components="
            querystring parameter. For instance, if you want baseline Profile
            data, Character Data, and character progressions, you would pass
            "components=Profiles,Characters,CharacterProgressions" You may use
            either the numerical or string values.'
          format: int32
          x-enum-reference:
            $ref: "./components/destiny.yml#/components/schemas/DestinyComponentType"

  schemas:
    Application:
      $ref: "./components/applications.yml#/components/schemas/Application"

    ApiUsage:
      $ref: "./components/applications.yml#/components/schemas/ApiUsage"

    GeneralUser:
      $ref: "./components/user.yml#/components/schemas/GeneralUser"

    PlatformErrorCodes:
      $ref: "./components/exceptions.yml#/components/schemas/PlatformErrorCodes"

    "BungieMembershipType[]":
      type: array
      items:
        format: int32
        description: >-
          The types of membership the Accounts system supports. This is the
          external facing enum used in place of the internal-only
          Bungie.SharedDefinitions.MembershipType.
        type: integer
        x-enum-reference:
          $ref: "./components/user.yml#/components/schemas/BungieMembershipType"

  securitySchemes:
    apiKey:
      type: apiKey
      description:
        Every request requires an API key.  To get an API key, register
        a new application at https://www.bungie.net/en/Application.
      name: X-API-Key
      in: header
    oauth2:
      type: oauth2
      description:
        For requests that require Authentication, you will need to have
        your users authenticate via our OAuth mechanisms.  See https://github.com/Bungie-net/api/wiki/OAuth-Documentation
        for more details.
      flows:
        authorizationCode:
          authorizationUrl: https://www.bungie.net/en/OAuth/Authorize
          tokenUrl: https://www.bungie.net/Platform/App/OAuth/token/
          scopes:
            ReadBasicUserProfile:
              Read basic user profile information such as the
              user's handle, avatar icon, etc.
            ReadGroups:
              "Read Group/Clan Forums, Wall, and Members for groups and
              clans that the user has joined."
            WriteGroups:
              "Write Group/Clan Forums, Wall, and Members for groups and
              clans that the user has joined."
            AdminGroups:
              "Administer Group/Clan Forums, Wall, and Members for groups
              and clans that the user is a founder or an administrator."
            BnetWrite:
              "Create new groups, clans, and forum posts, along with other
              actions that are reserved for Bungie.netelevated scope: not meant
              to be used by third party applications."
            MoveEquipDestinyItems: Move or equip Destiny items
            ReadDestinyInventoryAndVault:
              "Read Destiny 1 Inventory and Vault contents.
              For Destiny 2, this scope is needed to read anything regarded as private.
              This is the only scope aDestiny 2 app needs for read operations
              against Destiny 2 data such as inventory, vault, currency,vendors,
              milestones, progression, etc."
            ReadUserData:
              "Read user data such as who they are web notifications,
              clan/group memberships, recent activity, muted users."
            EditUserData:
              Edit user data such as preferred language, status, motto,
              avatar selection and theme.
            ReadDestinyVendorsAndAdvisors:
              Access vendor and advisor data specific
              to a user. OBSOLETE. This scope is only used on the Destiny 1 API.
            ReadAndApplyTokens:
              Read offer history and claim and apply tokens for
              the user.
            AdvancedWriteActions:
              Can perform actions that will result in a prompt
              to the user via the Destiny app.
            PartnerOfferGrant:
              Can user the partner offer api to claim rewards defined
              for a partner

paths:
  /App/ApiUsage/{applicationId}/:
    get:
      tags:
        - App
      description:
        Get API usage by application for time frame specified. You can
        go as far back as 30 days ago, and can ask for up to a 48 hour window of time
        in a single request. You must be authenticated with at least the ReadUserData
        permission to access this endpoint.
      operationId: App.GetApplicationApiUsage
      parameters:
        - name: applicationId
          in: path
          description: ID of the application to get usage statistics.
          required: true
          schema:
            type: integer
            format: int32
        - name: end
          in: query
          description: End time for query. Goes to now if not specified.
          schema:
            type: string
            format: date-time
        - name: start
          in: query
          description: Start time for query. Goes to 24 hours ago if not specified.
          schema:
            type: string
            format: date-time
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    $ref: "#/components/schemas/ApiUsage"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
      security:
        - oauth2:
            - ReadUserData
  /App/FirstParty/:
    get:
      tags:
        - App
      description: Get list of applications created by Bungie.
      operationId: App.GetBungieApplications
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      $ref: "#/components/schemas/Application"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
  /User/GetBungieNetUserById/{id}/:
    get:
      tags:
        - User
      description: Loads a bungienet user by membership id.
      operationId: User.GetBungieNetUserById
      parameters:
        - name: id
          in: path
          description: The requested Bungie.net membership id.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    $ref: "#/components/schemas/User.GeneralUser"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
  /User/SearchUsers/:
    get:
      tags:
        - User
      description: Returns a list of possible users based on the search string
      operationId: User.SearchUsers
      parameters:
        - name: q
          in: query
          description: The search string.
          schema:
            type: string
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      $ref: "#/components/schemas/GeneralUser"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
  /User/GetCredentialTypesForTargetAccount/{membershipId}/:
    get:
      tags:
        - User
      description: Returns a list of credential types attached to the requested account
      operationId: User.GetCredentialTypesForTargetAccount
      parameters:
        - name: membershipId
          in: path
          description: The user's membership id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      $ref: "./components/users.yml#/schemas/GetCredentialTypesForAccountResponse"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
  /User/GetAvailableThemes/:
    get:
      tags:
        - User
      description: Returns a list of all available user themes.
      operationId: User.GetAvailableThemes
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      $ref: "#/components/schemas/Config.UserTheme"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
  /User/GetMembershipsById/{membershipId}/{membershipType}/:
    get:
      tags:
        - User
      description:
        Returns a list of accounts associated with the supplied membership
        ID and membership type. This will include all linked accounts (even when hidden)
        if supplied credentials permit it.
      operationId: User.GetMembershipDataById
      parameters:
        - name: membershipId
          in: path
          description: The membership ID of the target user.
          required: true
          schema:
            type: integer
            format: int64
        - name: membershipType
          in: path
          description: Type of the supplied membership ID.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    $ref: "#/components/schemas/User.UserMembershipData"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
  /User/GetMembershipsForCurrentUser/:
    get:
      tags:
        - User
      description:
        Returns a list of accounts associated with signed in user. This
        is useful for OAuth implementations that do not give you access to the token
        response.
      operationId: User.GetMembershipDataForCurrentUser
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    $ref: "#/components/schemas/User.UserMembershipData"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
      security:
        - oauth2:
            - ReadBasicUserProfile
  /User/GetMembershipFromHardLinkedCredential/{crType}/{credential}/:
    get:
      tags:
        - User
      description:
        Gets any hard linked membership given a credential. Only works
        for credentials that are public (just SteamID64 right now). Cross Save aware.
      operationId: User.GetMembershipFromHardLinkedCredential
      parameters:
        - name: credential
          in: path
          description: The credential to look up. Must be a valid SteamID64.
          required: true
          schema:
            type: string
        - name: crType
          in: path
          description: The credential type. 'SteamId' is the only valid value at present.
          required: true
          schema:
            type: integer
            format: byte
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    $ref: "#/components/schemas/User.HardLinkedUserMembership"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
  /Content/GetContentType/{type}/:
    get:
      tags:
        - Content
      description: Gets an object describing a particular variant of content.
      operationId: Content.GetContentType
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    $ref: "#/components/schemas/Content.Models.ContentTypeDescription"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
  /Content/GetContentById/{id}/{locale}/:
    get:
      tags:
        - Content
      description: Returns a content item referenced by id
      operationId: Content.GetContentById
      parameters:
        - name: head
          in: query
          description: "false"
          schema:
            type: boolean
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: locale
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    $ref: "#/components/schemas/Content.ContentItemPublicContract"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
  /Content/GetContentByTagAndType/{tag}/{type}/{locale}/:
    get:
      tags:
        - Content
      description: Returns the newest item that matches a given tag and Content Type.
      operationId: Content.GetContentByTagAndType
      parameters:
        - name: head
          in: query
          description: Not used.
          schema:
            type: boolean
        - name: locale
          in: path
          required: true
          schema:
            type: string
        - name: tag
          in: path
          required: true
          schema:
            type: string
        - name: type
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    $ref: "#/components/schemas/Content.ContentItemPublicContract"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
  /Content/Search/{locale}/:
    get:
      tags:
        - Content
      description:
        Gets content based on querystring information passed in. Provides
        basic search and text search capabilities.
      operationId: Content.SearchContentWithText
      parameters:
        - name: ctype
          in: query
          description:
            "Content type tag: Help, News, etc. Supply multiple ctypes separated
            by space."
          schema:
            type: string
        - name: currentpage
          in: query
          description: Page number for the search results, starting with page 1.
          schema:
            type: integer
            format: int32
        - name: head
          in: query
          description: Not used.
          schema:
            type: boolean
        - name: locale
          in: path
          required: true
          schema:
            type: string
        - name: searchtext
          in: query
          description: Word or phrase for the search.
          schema:
            type: string
        - name: source
          in: query
          description:
            For analytics, hint at the part of the app that triggered the
            search. Optional.
          schema:
            type: string
        - name: tag
          in: query
          description: Tag used on the content to be searched.
          schema:
            type: string
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    $ref: "#/components/schemas/SearchResultOfContentItemPublicContract"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
  /Content/SearchContentByTagAndType/{tag}/{type}/{locale}/:
    get:
      tags:
        - Content
      description:
        Searches for Content Items that match the given Tag and Content
        Type.
      operationId: Content.SearchContentByTagAndType
      parameters:
        - name: currentpage
          in: query
          description: Page number for the search results starting with page 1.
          schema:
            type: integer
            format: int32
        - name: head
          in: query
          description: Not used.
          schema:
            type: boolean
        - name: itemsperpage
          in: query
          description: Not used.
          schema:
            type: integer
            format: int32
        - name: locale
          in: path
          required: true
          schema:
            type: string
        - name: tag
          in: path
          required: true
          schema:
            type: string
        - name: type
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    $ref: "#/components/schemas/SearchResultOfContentItemPublicContract"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
  /Content/SearchHelpArticles/{searchtext}/{size}/:
    get:
      tags:
        - Content
      description: Search for Help Articles.
      operationId: Content.SearchHelpArticles
      parameters:
        - name: searchtext
          in: path
          required: true
          schema:
            type: string
        - name: size
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    type: object
                    properties: {}
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false

  /Forum/GetTopicsPaged/{page}/{pageSize}/{group}/{sort}/{quickDate}/{categoryFilter}/:
    get:
      tags:
        - Forum
      description: Get topics from any forum.
      operationId: Forum.GetTopicsPaged
      parameters:
        - name: categoryFilter
          in: path
          description: A category filter
          required: true
          schema:
            type: integer
            format: int32
        - name: group
          in: path
          description: The group, if any.
          required: true
          schema:
            type: integer
            format: int64
        - name: locales
          in: query
          description:
            Comma seperated list of locales posts must match to return in
            the result list. Default 'en'
          schema:
            type: string
        - name: page
          in: path
          description: Zero paged page number
          required: true
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: path
          description: Unused
          required: true
          schema:
            type: integer
            format: int32
        - name: quickDate
          in: path
          description: A date filter.
          required: true
          schema:
            type: integer
            format: int32
        - name: sort
          in: path
          description: The sort mode.
          required: true
          schema:
            type: integer
            format: byte
        - name: tagstring
          in: query
          description: The tags to search, if any.
          schema:
            type: string
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    $ref: "#/components/schemas/Forum.PostSearchResponse"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
  /Forum/GetCoreTopicsPaged/{page}/{sort}/{quickDate}/{categoryFilter}/:
    get:
      tags:
        - Forum
      description: Gets a listing of all topics marked as part of the core group.
      operationId: Forum.GetCoreTopicsPaged
      parameters:
        - name: categoryFilter
          in: path
          description: The category filter.
          required: true
          schema:
            type: integer
            format: int32
        - name: locales
          in: query
          description:
            Comma seperated list of locales posts must match to return in
            the result list. Default 'en'
          schema:
            type: string
        - name: page
          in: path
          description: Zero base page
          required: true
          schema:
            type: integer
            format: int32
        - name: quickDate
          in: path
          description: The date filter.
          required: true
          schema:
            type: integer
            format: int32
        - name: sort
          in: path
          description: The sort mode.
          required: true
          schema:
            type: integer
            format: byte
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    $ref: "#/components/schemas/Forum.PostSearchResponse"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
  /Forum/GetPostsThreadedPaged/{parentPostId}/{page}/{pageSize}/{replySize}/{getParentPost}/{rootThreadMode}/{sortMode}/:
    get:
      tags:
        - Forum
      description:
        Returns a thread of posts at the given parent, optionally returning
        replies to those posts as well as the original parent.
      operationId: Forum.GetPostsThreadedPaged
      parameters:
        - name: getParentPost
          in: path
          required: true
          schema:
            type: boolean
        - name: page
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: parentPostId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: replySize
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: rootThreadMode
          in: path
          required: true
          schema:
            type: boolean
        - name: showbanned
          in: query
          description:
            If this value is not null or empty, banned posts are requested
            to be returned
          schema:
            type: string
        - name: sortMode
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    $ref: "#/components/schemas/Forum.PostSearchResponse"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
  /Forum/GetPostsThreadedPagedFromChild/{childPostId}/{page}/{pageSize}/{replySize}/{rootThreadMode}/{sortMode}/: 
    get:
      tags:
        - Forum
      description:
        Returns a thread of posts starting at the topicId of the input
        childPostId, optionally returning replies to those posts as well as the original
        parent.
      operationId: Forum.GetPostsThreadedPagedFromChild
      parameters:
        - name: childPostId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: page
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: replySize
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: rootThreadMode
          in: path
          required: true
          schema:
            type: boolean
        - name: showbanned
          in: query
          description:
            If this value is not null or empty, banned posts are requested
            to be returned
          schema:
            type: string
        - name: sortMode
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    $ref: "#/components/schemas/Forum.PostSearchResponse"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
  /Forum/GetPostAndParent/{childPostId}/:
    get:
      tags:
        - Forum
      description: Returns the post specified and its immediate parent.
      operationId: Forum.GetPostAndParent
      parameters:
        - name: childPostId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: showbanned
          in: query
          description:
            If this value is not null or empty, banned posts are requested
            to be returned
          schema:
            type: string
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    $ref: "#/components/schemas/Forum.PostSearchResponse"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
  /Forum/GetPostAndParentAwaitingApproval/{childPostId}/:
    get:
      tags:
        - Forum
      description:
        Returns the post specified and its immediate parent of posts that
        are awaiting approval.
      operationId: Forum.GetPostAndParentAwaitingApproval
      parameters:
        - name: childPostId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: showbanned
          in: query
          description:
            If this value is not null or empty, banned posts are requested
            to be returned
          schema:
            type: string
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    $ref: "#/components/schemas/Forum.PostSearchResponse"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
  /Forum/GetTopicForContent/{contentId}/:
    get:
      tags:
        - Forum
      description: Gets the post Id for the given content item's comments, if it exists.
      operationId: Forum.GetTopicForContent
      parameters:
        - name: contentId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    type: integer
                    format: int64
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
  /Forum/GetForumTagSuggestions/:
    get:
      tags:
        - Forum
      description:
        Gets tag suggestions based on partial text entry, matching them
        with other tags previously used in the forums.
      operationId: Forum.GetForumTagSuggestions
      parameters:
        - name: partialtag
          in: query
          description: The partial tag input to generate suggestions from.
          schema:
            type: string
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      $ref: "#/components/schemas/Tags.Models.Contracts.TagResponse"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
  /Forum/Poll/{topicId}/:
    get:
      tags:
        - Forum
      description: Gets the specified forum poll.
      operationId: Forum.GetPoll
      parameters:
        - name: topicId
          in: path
          description: The post id of the topic that has the poll.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    $ref: "#/components/schemas/Forum.PostSearchResponse"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
  /Forum/Recruit/Summaries/:
    post:
      tags:
        - Forum
      description:
        Allows the caller to get a list of to 25 recruitment thread summary
        information objects.
      operationId: Forum.GetRecruitmentThreadSummaries
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      $ref: "#/components/schemas/Forum.ForumRecruitmentDetail"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
  /GroupV2/GetAvailableAvatars/:
    get:
      tags:
        - GroupV2
      description:
        Returns a list of all available group avatars for the signed-in
        user.
      operationId: GroupV2.GetAvailableAvatars
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    type: object
                    additionalProperties:
                      type: string
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
  /GroupV2/GetAvailableThemes/:
    get:
      tags:
        - GroupV2
      description: Returns a list of all available group themes.
      operationId: GroupV2.GetAvailableThemes
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      $ref: "#/components/schemas/Config.GroupTheme"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
  /GroupV2/GetUserClanInviteSetting/{mType}/:
    get:
      tags:
        - GroupV2
      description:
        Gets the state of the user's clan invite preferences for a particular
        membership type - true if they wish to be invited to clans, false otherwise.
      operationId: GroupV2.GetUserClanInviteSetting
      parameters:
        - name: mType
          in: path
          description:
            The Destiny membership type of the account we wish to access
            settings.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    type: boolean
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
      security:
        - oauth2:
            - ReadUserData
  /GroupV2/Recommended/{groupType}/{createDateRange}/:
    post:
      tags:
        - GroupV2
      description:
        Gets groups recommended for you based on the groups to whom those
        you follow belong.
      operationId: GroupV2.GetRecommendedGroups
      parameters:
        - name: createDateRange
          in: path
          description: Requested range in which to pull recommended groups
          required: true
          schema:
            type: integer
            format: int32
        - name: groupType
          in: path
          description: Type of groups requested
          required: true
          schema:
            type: integer
            format: int32
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      $ref: "#/components/schemas/GroupsV2.GroupV2Card"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
      security:
        - oauth2:
            - ReadGroups
  /GroupV2/Search/:
    post:
      tags:
        - GroupV2
      description: Search for Groups.
      operationId: GroupV2.GroupSearch
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    $ref: "#/components/schemas/GroupsV2.GroupSearchResponse"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
  /GroupV2/{groupId}/:
    get:
      tags:
        - GroupV2
      description: Get information about a specific group of the given ID.
      operationId: GroupV2.GetGroup
      parameters:
        - name: groupId
          in: path
          description: Requested group's id.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    $ref: "#/components/schemas/GroupsV2.GroupResponse"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
  /GroupV2/Name/{groupName}/{groupType}/:
    get:
      tags:
        - GroupV2
      description:
        Get information about a specific group with the given name and
        type.
      operationId: GroupV2.GetGroupByName
      parameters:
        - name: groupName
          in: path
          description: Exact name of the group to find.
          required: true
          schema:
            type: string
        - name: groupType
          in: path
          description: Type of group to find.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    $ref: "#/components/schemas/GroupsV2.GroupResponse"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
  /GroupV2/NameV2/:
    post:
      tags:
        - GroupV2
      description:
        Get information about a specific group with the given name and
        type. The POST version.
      operationId: GroupV2.GetGroupByNameV2
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    $ref: "#/components/schemas/GroupsV2.GroupResponse"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
  /GroupV2/{groupId}/OptionalConversations/:
    get:
      tags:
        - GroupV2
      description:
        Gets a list of available optional conversation channels and their
        settings.
      operationId: GroupV2.GetGroupOptionalConversations
      parameters:
        - name: groupId
          in: path
          description: Requested group's id.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      $ref: "#/components/schemas/GroupsV2.GroupOptionalConversation"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
  /GroupV2/{groupId}/Edit/:
    post:
      tags:
        - GroupV2
      description:
        Edit an existing group. You must have suitable permissions in the
        group to perform this operation. This latest revision will only edit the fields
        you pass in - pass null for properties you want to leave unaltered.
      operationId: GroupV2.EditGroup
      parameters:
        - name: groupId
          in: path
          description: Group ID of the group to edit.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    type: integer
                    format: int32
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
      security:
        - oauth2:
            - AdminGroups
  /GroupV2/{groupId}/EditClanBanner/:
    post:
      tags:
        - GroupV2
      description:
        Edit an existing group's clan banner. You must have suitable permissions
        in the group to perform this operation. All fields are required.
      operationId: GroupV2.EditClanBanner
      parameters:
        - name: groupId
          in: path
          description: Group ID of the group to edit.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    type: integer
                    format: int32
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
      security:
        - oauth2:
            - AdminGroups
  /GroupV2/{groupId}/EditFounderOptions/:
    post:
      tags:
        - GroupV2
      description:
        Edit group options only available to a founder. You must have suitable
        permissions in the group to perform this operation.
      operationId: GroupV2.EditFounderOptions
      parameters:
        - name: groupId
          in: path
          description: Group ID of the group to edit.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    type: integer
                    format: int32
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
      security:
        - oauth2:
            - AdminGroups
  /GroupV2/{groupId}/OptionalConversations/Add/:
    post:
      tags:
        - GroupV2
      description:
        Add a new optional conversation/chat channel. Requires admin permissions
        to the group.
      operationId: GroupV2.AddOptionalConversation
      parameters:
        - name: groupId
          in: path
          description: Group ID of the group to edit.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    type: integer
                    format: int64
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
      security:
        - oauth2:
            - AdminGroups
  /GroupV2/{groupId}/OptionalConversations/Edit/{conversationId}/:
    post:
      tags:
        - GroupV2
      description:
        Edit the settings of an optional conversation/chat channel. Requires
        admin permissions to the group.
      operationId: GroupV2.EditOptionalConversation
      parameters:
        - name: conversationId
          in: path
          description: Conversation Id of the channel being edited.
          required: true
          schema:
            type: integer
            format: int64
        - name: groupId
          in: path
          description: Group ID of the group to edit.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    type: integer
                    format: int64
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
      security:
        - oauth2:
            - AdminGroups
  /GroupV2/{groupId}/Members/:
    get:
      tags:
        - GroupV2
      description: Get the list of members in a given group.
      operationId: GroupV2.GetMembersOfGroup
      parameters:
        - name: groupId
          in: path
          description: The ID of the group.
          required: true
          schema:
            type: integer
            format: int64
        - name: currentpage
          in: query
          description:
            Page number (starting with 1). Each page has a fixed size of
            50 items per page.
          required: true
          schema:
            type: integer
            format: int32
        - name: memberType
          in: query
          description: Filter out other member types. Use None for all members.
          schema:
            type: integer
            format: int32
        - name: nameSearch
          in: query
          description:
            The name fragment upon which a search should be executed for
            members with matching display or unique names.
          schema:
            type: string
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    $ref: "#/components/schemas/SearchResultOfGroupMember"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
  /GroupV2/{groupId}/AdminsAndFounder/:
    get:
      tags:
        - GroupV2
      description:
        Get the list of members in a given group who are of admin level
        or higher.
      operationId: GroupV2.GetAdminsAndFounderOfGroup
      parameters:
        - name: currentpage
          in: query
          description:
            Page number (starting with 1). Each page has a fixed size of
            50 items per page.
          required: true
          schema:
            type: integer
            format: int32
        - name: groupId
          in: path
          description: The ID of the group.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    $ref: "#/components/schemas/SearchResultOfGroupMember"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
  /GroupV2/{groupId}/Members/{membershipType}/{membershipId}/SetMembershipType/{memberType}/:
     post:
      tags:
        - GroupV2
      description:
        Edit the membership type of a given member. You must have suitable
        permissions in the group to perform this operation.
      operationId: GroupV2.EditGroupMembership
      parameters:
        - name: groupId
          in: path
          description: ID of the group to which the member belongs.
          required: true
          schema:
            type: integer
            format: int64
        - name: membershipId
          in: path
          description: Membership ID to modify.
          required: true
          schema:
            type: integer
            format: int64
        - name: membershipType
          in: path
          description: Membership type of the provide membership ID.
          required: true
          schema:
            type: integer
            format: int32
        - name: memberType
          in: path
          description: New membertype for the specified member.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    type: integer
                    format: int32
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
      security:
        - oauth2:
            - AdminGroups
  /GroupV2/{groupId}/Members/{membershipType}/{membershipId}/Kick/:
    post:
      tags:
        - GroupV2
      description:
        Kick a member from the given group, forcing them to reapply if
        they wish to re-join the group. You must have suitable permissions in the
        group to perform this operation.
      operationId: GroupV2.KickMember
      parameters:
        - name: groupId
          in: path
          description: Group ID to kick the user from.
          required: true
          schema:
            type: integer
            format: int64
        - name: membershipId
          in: path
          description: Membership ID to kick.
          required: true
          schema:
            type: integer
            format: int64
        - name: membershipType
          in: path
          description: Membership type of the provided membership ID.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    $ref: "#/components/schemas/GroupsV2.GroupMemberLeaveResult"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
      security:
        - oauth2:
            - AdminGroups
  /GroupV2/{groupId}/Members/{membershipType}/{membershipId}/Ban/:
    post:
      tags:
        - GroupV2
      description:
        Bans the requested member from the requested group for the specified
        period of time.
      operationId: GroupV2.BanMember
      parameters:
        - name: groupId
          in: path
          description: Group ID that has the member to ban.
          required: true
          schema:
            type: integer
            format: int64
        - name: membershipId
          in: path
          description: Membership ID of the member to ban from the group.
          required: true
          schema:
            type: integer
            format: int64
        - name: membershipType
          in: path
          description: Membership type of the provided membership ID.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    type: integer
                    format: int32
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
      security:
        - oauth2:
            - AdminGroups
  /GroupV2/{groupId}/Members/{membershipType}/{membershipId}/Unban/:
    post:
      tags:
        - GroupV2
      description: Unbans the requested member, allowing them to re-apply for membership.
      operationId: GroupV2.UnbanMember
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: membershipId
          in: path
          description: Membership ID of the member to unban from the group
          required: true
          schema:
            type: integer
            format: int64
        - name: membershipType
          in: path
          description: Membership type of the provided membership ID.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    type: integer
                    format: int32
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
      security:
        - oauth2:
            - AdminGroups
  /GroupV2/{groupId}/Banned/:
    get:
      tags:
        - GroupV2
      description:
        Get the list of banned members in a given group. Only accessible
        to group Admins and above. Not applicable to all groups. Check group features.
      operationId: GroupV2.GetBannedMembersOfGroup
      parameters:
        - name: currentpage
          in: query
          description:
            Page number (starting with 1). Each page has a fixed size of
            50 entries.
          required: true
          schema:
            type: integer
            format: int32
        - name: groupId
          in: path
          description: Group ID whose banned members you are fetching
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    $ref: "#/components/schemas/SearchResultOfGroupBan"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
      security:
        - oauth2:
            - AdminGroups
  /GroupV2/{groupId}/Admin/AbdicateFoundership/{membershipType}/{founderIdNew}/:
    post:
      tags:
        - GroupV2
      description:
        An administrative method to allow the founder of a group or clan
        to give up their position to another admin permanently.
      operationId: GroupV2.AbdicateFoundership
      parameters:
        - name: founderIdNew
          in: path
          description: The new founder for this group. Must already be a group admin.
          required: true
          schema:
            type: integer
            format: int64
        - name: groupId
          in: path
          description: The target group id.
          required: true
          schema:
            type: integer
            format: int64
        - name: membershipType
          in: path
          description: Membership type of the provided founderIdNew.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    type: boolean
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
  /GroupV2/{groupId}/Members/Pending/:
    get:
      tags:
        - GroupV2
      description:
        Get the list of users who are awaiting a decision on their application
        to join a given group. Modified to include application info.
      operationId: GroupV2.GetPendingMemberships
      parameters:
        - name: currentpage
          in: path
          description:
            Page number (starting with 1). Each page has a fixed size of
            50 items per page.
          required: true
          schema:
            type: integer
            format: int32
        - name: groupId
          in: path
          description: ID of the group.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    $ref: "#/components/schemas/SearchResultOfGroupMemberApplication"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
      security:
        - oauth2:
            - AdminGroups
  /GroupV2/{groupId}/Members/InvitedIndividuals/:
    get:
      tags:
        - GroupV2
      description: Get the list of users who have been invited into the group.
      operationId: GroupV2.GetInvitedIndividuals
      parameters:
        - name: currentpage
          in: path
          description:
            Page number (starting with 1). Each page has a fixed size of
            50 items per page.
          required: true
          schema:
            type: integer
            format: int32
        - name: groupId
          in: path
          description: ID of the group.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    $ref: "#/components/schemas/SearchResultOfGroupMemberApplication"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
      security:
        - oauth2:
            - AdminGroups
  /GroupV2/{groupId}/Members/ApproveAll/:
    post:
      tags:
        - GroupV2
      description: Approve all of the pending users for the given group.
      operationId: GroupV2.ApproveAllPending
      parameters:
        - name: groupId
          in: path
          description: ID of the group.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      $ref: "#/components/schemas/Entities.EntityActionResult"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
      security:
        - oauth2:
            - AdminGroups
  /GroupV2/{groupId}/Members/DenyAll/:
    post:
      tags:
        - GroupV2
      description: Deny all of the pending users for the given group.
      operationId: GroupV2.DenyAllPending
      parameters:
        - name: groupId
          in: path
          description: ID of the group.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      $ref: "#/components/schemas/Entities.EntityActionResult"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
      security:
        - oauth2:
            - AdminGroups
  /GroupV2/{groupId}/Members/ApproveList/:
    post:
      tags:
        - GroupV2
      description: Approve all of the pending users for the given group.
      operationId: GroupV2.ApprovePendingForList
      parameters:
        - name: groupId
          in: path
          description: ID of the group.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      $ref: "#/components/schemas/Entities.EntityActionResult"
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
                      $ref: "#/components/schemas/PlatformErrorCodes"
                  ThrottleSeconds:
                    type: integer
                    format: int32
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    type: object
                    additionalProperties:
                      type: string
                  DetailedErrorTrace:
                    type: string
      deprecated: false
      security:
        - oauth2:
            - AdminGroups
  /GroupV2/{groupId}/Members/Approve/{membershipType}/{membershipId}/:
    post:
      tags:
        - GroupV2
      description:
        Approve the given membershipId to join the group/clan as long as
        they have applied.
      operationId: GroupV2.ApprovePending
      parameters:
        - name: groupId
          in: path
          description: ID of the group.
          required: true
          schema:
            type: integer
            format: int64
        - name: membershipId
          in: path
          description: The membership id being approved.
          required: true
          schema:
            type: integer
            format: int64
        - name: membershipType
          in: path
          description: Membership type of the supplied membership ID.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        200:
          description:
            Look at the Response property for more information about the
            nature of this response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  Response:
                    type: boolean
                  ErrorCode:
                    type: integer
                    format: int32
                    x-enum-reference:
[...]
